*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
:root{
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor:#000;
  --lightColor: #222;
}
.container{
  width: 100%;
  padding: 0 100px;
}